@{
    ViewBag.Title = "Home Page";
}

<h1 class="display-4">Secret Management demo</h1>
    
<div>
    <h2> Api Secret: @ViewBag.ApiKey</h2>
    <h3>Connection string: @ViewBag.ConnectionString</h3>
</div>